

div {
    background-color: aqua;
    width:500px;
    height:500px;
    display: flex;
    align-items: center;
    justify-content: center
}

#center{
    background-color:   antiquewhite;
    width:400px;
    height: 400px;
    margin:30px;
    padding:20px;
}

div > div >div{
    background-color:   cadetblue;
    width:400px;
    height:400px;
}